<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'style_listarUsuario.css' %}">
    <title>Estadísticas de Usuarios</title>
</head>
<body>
    <div class="container">
        <h1>Estadísticas de Usuarios Creados por Día</h1>
        <table>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Cantidad de Usuarios</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in usuarios_por_dia %}
                <tr>
                    <td>{{ registro.dia }}</td>
                    <td>{{ registro.cantidad }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No hay usuarios registrados hoy.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>