<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_crearUsuario.css' %}">
    <title>Ver Detalle de Usuario</title>
</head>
<body>
    <div class="form-container">
        <h1>Ver Detalle de Usuario</h1>
        <p>Nombre de usuario: {{ usuario.username }}</p>
        <p>Correo electrónico: {{ usuario.email }}</p>
        <p>Teléfono: {{ usuario.telefono }}</p>
        <p>Dirección: {{ usuario.direccion }}</p>
        <a href="{% url 'listar_usuarios' %}">Volver</a>
    </div>
</body>
</html>