{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Producto App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'produbas.css' %}">
    {% block extra_css %}{% endblock %}

</head>
<body>
    <h1>{% block header %}🤩Gestión de Productos🤩{% endblock %}</h1>

    <nav class="navbar">
        <ul class="nav-list">
        
        <li><form action="{% url 'producto:lista' %}" method="get">
            <button type="submit" class="nav-btn">Inicio</button>
        </form></li>

        <li><form method="get" action="{% url 'producto:buscar' %}">
            <button type="submit" class="nav-btn">Buscar</button>
        </form></li>

        <li><form action="{% url 'producto:crear' %}" method="get">
            <button type="submit" class="nav-btn">Crear Producto</button>
        </form></li>

        <li><form action="{% url 'producto:crud_categorias' %}" method="get">
            <button type="submit" class="nav-btn">Crear categoria</button>
        </form></li>

        <li><form action="{% url 'producto:ranking' %}" method="get">
            <button type="submit" class="nav-btn">Ranking</button>
        </form></li>

        <li><form action="{% url 'producto:comparar' %}" method="get">
            <button type="submit" class="nav-btn">Comparar</button>
        </form></li>
        </ul>
        
    </nav>

    <hr>

    {% block content %}{% endblock %}
</body>
</html>
